.map {
    margin: 0 0 1rem;
    padding: 0 2rem;
}

.region {
    fill: #178cce;
    cursor: pointer;
    transition: all 350ms;
}

.region:hover {
    fill: #0ad9ba;
    cursor: pointer;
}

.regionActive {
    fill: #ffffff;
    stroke: darkcyan;
}

.regionActive:hover {
    fill: rgba(227, 227, 227, 0.89);
    stroke: darkcyan;
}