.radioGroupDistrict {
    width: 100%;
    padding: 0 0.5rem 0;
}

.districtGroup {
    display: grid;
    @media (max-width: 599px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 769px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    grid-column-gap: 0.5rem;
    grid-row-gap: -0;
    width: 100%;
}

.districtForm {
    width: 100%;
}

.districtLabel {
    margin-bottom: -0.7rem;
}

.helperText {
    margin-top: 0.5rem;
}